[general_settings]
max_img_w = 2560
max_img_h = 1920
batch_mode = 1

[scan_settings]
scale_bits				= 4
start_scale_denom			= 16
scale_step_denom			= 20
scan_end_scale				= 0.02
scan_mode				= uniform
coarse_to_fine_layer_num	        = 8
pad_border				= 20
# pyramid types:
# 1) fp: fixed point version with bilinear interpolation, start_scale_denom supported.
# 2) gc: golden c version with bilinear interpolation, the same as chip. start_scale_denom is fixed to be 1 << scale_bits.
# 3) octave: image octave, shrink image by 0.5, 0.25, 0.125, etc.
pyramid_type                            = fp
octave_num                              = 5
octave_sub_level_num                    = 3


[merge_settings]
merge_overlap_ratio_thres	= 0.5
nms_score_thres			    = 0.0
nms_max_overlap_ratio		= 0.7
nms_max_contain_ratio		= 0.7

# model path
[model0]
model_fname =/home/zhaoxu/Phone_demo/models/phone_model/crop_new_0227_phone.bin
#model_fname =/home/zhaoxu/Phone_demo/phone_model/1228_phone.bin
#model_fname =/home/zhaoxu/Phone_demo/phone_model/crop_new_0228_phone.bin
